.title-default {
  text-align: center;
  margin-bottom: 2rem;
}

.title-default span {
  display: inline-block;
  width: 50px;
  height: 10px;
  border-radius: 4px;
  background-color: var(--cor-primaria);
}

.about-content {
  display: grid;
  gap: 2.5rem;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: center;
  grid-template-columns: minmax(100px, 760px) 1fr;
}

.about-content > :first-child {
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.75);
  background-color: #14013d;
  padding: 2.5rem;
  border-radius: 0.2rem;
}

.about-text h3::before {
  content: "$";
  margin-right: 0.3rem;
  color: var(--cor-primaria);
}

.about-text > p::before {
  content: "&";
  margin-right: 0.3rem;
  color: var(--cor-destaque);
}

.skills {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 250px;
}

.skills li {
  padding: 0.2rem 0.8rem;
  background-color: #a9f6ed;
  color: #020a13;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.3rem;
}

.formation {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

@media (max-width: 1000px) {
  .about-content {
    gap: 1.5rem;
    grid-template-columns: 1fr;
    padding: 1.2rem;
  }

  .formation h3::before,
  .card-skills h3::before {
    content: "$";
    margin-right: 0.3rem;
    color: var(--cor-primaria);
  }
  .card-skills {
    display: flex;
    padding: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.75);
    background-color: #14013d;
    border-radius: 0.2rem;
  }
}
