.contact {
  display: grid;
  gap: 2.5rem;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 55ch;
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1.2rem);
}

.hello {
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 200px;
  height: 48px;
  margin-top: 2rem;
  text-decoration: none;
  padding: 0.3rem 4rem;
  border-radius: 4px;
  border: 2px solid #682ae9;
}

.hello:hover {
  background-color: #682ae9;
  transition: all 0.3s;
}

.creator {
  text-align: center;
  margin-top: 3.5rem;
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1.2rem);
}

.creator span {
  font-family: "Dancing Script", cursive;
  color: var(--cor-destaque);
  font-size: clamp(1rem, 1rem + 2vw, 2rem);
}
