.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
}

.menu-content ul {
  display: flex;
  gap: 2rem;
}

.main-content div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.menu-content a {
  font-weight: 600;
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
  text-transform: uppercase;
}

.menu-content a:hover {
  color: var(--cor-primaria);
  transition: all 0.3s;
}

.button {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  padding: 0.3rem 4rem;
  border-radius: 4px;
  border: 2px solid #682ae9;
}

.button:hover {
  background-color: #682ae9;
  transition: all 0.3s;
}

@media (max-width: 700px) {
  .menu-content {
    display: flex;
    flex-direction: column;
  }

  .menu-content li {
    background-color: #682ae9;
    margin-top: 0.6rem;
    padding: 0.3rem 0.8rem;
    border-radius: 0.2rem;
  }

  .menu-content a:hover {
    color: var(--cor-fundo);
  }
}

@media (max-width: 800px) {
  .main-content {
    display: block;
    max-width: auto;
    margin: 60px 20px;
  }
}
