.flex-b {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 2rem;
}

.box {
  background-color: #14013d;
  max-width: 600px;
  padding: 2rem;
  border-radius: 0.8rem;
}

@media (max-width: 800px) {
  .flex-b {
    flex-direction: column;
    place-content: center;
  }
}
