.project-content {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 2.5rem;
}

.tools-box {
  background-color: #14013d;
  max-width: 600px;
  padding: 2rem;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0.2rem;
}

@media (max-width: 900px) {
  .project-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
