@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&display=swap");

@import url("./style.fonts/font.header.css");
@import url("./style.fonts/font.about.css");
@import url("./header.css");
@import url("./about.css");
@import url("./projects.css");
@import url("./contact.css");

:root {
  --cor-primaria: #682ae9;
  --cor-destaque: #a9f6ed;
  --cor-titulo: #ffffff;
  --cor-subtitulo: #ccd6f6;
  --cor-box: #14013d;
  --cor-box-skills: #ac85ff;
  --cor-texto: #c6abff;
  --cor-fundo: #070114;
  --box-shadow: 2px 2px 6px rgba(35, 0, 108, 1);
}

body {
  background-color: var(--cor-fundo);
}

html {
  scroll-margin-top: 0.8em;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.view {
  margin-bottom: 14rem;
}

@media (max-width: 800px) {
  .view {
    margin-bottom: 10rem;
  }

  .main-content p {
    max-width: auto;
  }
}

.social {
  display: flex;
  gap: 20px;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

[data-animate] {
  opacity: 0;
  transition: 0.1s;
}

[data-animate="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-animate="top"] {
  transform: translate3d(0, 50px, 0);
}

[data-animate="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-animate].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@media (max-width: 500px) {
  .title-default p,
  .contact p {
    max-width: 45ch;
    margin: 0 10px;
    font-size: 1rem;
  }
}
