@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&display=swap");

@import url("./style.fonts/font.header.css");
@import url("./style.fonts/font.about.css");
@import url("./style.fonts/font.projects.css");
@import url("./style.fonts/font.contact.css");
@import url("./header.css");
@import url("./about.css");
@import url("./projects.css");
@import url("./contact.css");

:root {
  --cor-primaria: #682ae9;
  --cor-destaque: #a9f6ed;
  --cor-titulo: #ffffff;
  --cor-subtitulo: #ccd6f6;
  --cor-box: #14013d;
  --cor-box-skills: #ac85ff;
  --cor-texto: #c6abff;
  --cor-fundo: #070114;
  --box-shadow: 2px 2px 6px rgba(35, 0, 108, 1);
}

body {
  background-color: var(--cor-fundo);
}

html {
  scroll-margin-top: 0.8em;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.view {
  margin-bottom: 14rem;
}

@media (max-width: 800px) {
  .view {
    margin-bottom: 10rem;
  }

  .main-content p {
    max-width: auto;
  }
}

@media (max-width: 500px) {
  .title-default p,
  .contact p {
    max-width: 45ch;
    margin: 0 10px;
    font-size: 1rem;
  }
}
